<div class="example-container">
  <mat-form-field>
    <input matInput [(ngModel)]="data.nume" placeholder="Client name?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.adresa" placeholder="Client address?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.j" placeholder="Client J?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cui" placeholder="Client CUI?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.cont" placeholder="Client bank account?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.banca" placeholder="Client bank name?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="data.email" placeholder="Client contact emails?" (change)="doSomething($event)">
  </mat-form-field>
  <br>
  <mat-checkbox [checked]="data.activ == 'Yes'" (change)="doSomething($event)">Active
  </mat-checkbox>

  <!--
<ul>
  <li *ngFor="let item of data; let i = index">
    {{i}} {{item}}
  </li>
</ul> -->

</div>
<br>


<button mat-raised-button (click)="onNoClick()" color="standard">Cancel
</button>

<button mat-raised-button (click)="confirmSelection()" color="primary">Save
</button>
